:root{
  --twitterColor:#00acee;
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
body{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}

.register>form{
  display: flex;
  width:300px;
  margin:100px auto 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register>form>input,.register>form>button{
  display:block;
  height:50px;
  width:100%;
  margin-bottom:10px;
}
.register>form>button{
  border-radius: 10px;
  cursor:pointer;
  background-color: #111111;
  color:white;
  padding:3px;
}
.register>form>div{
  color:rgb(243, 34, 34);
  align-self: flex-start;
  margin-bottom: 5px;
}

.leftNav>button{
  cursor:pointer;
  background-color: inherit;
  border: none;
  font-size: 20px;
  font-weight: 300;
}
.createTweet{
  display:"flex";
  flex-direction:"row";
  gap:"30px";
  justify-content: space-around;
  align-items: stretch;
}
.createTweet>form>input{
  height: 20px;
  border:none;
  font-size: large;
}








